In [1]:
new_line=“ His name was “mody” as everyone told”

SyntaxError: invalid character in identifier (<ipython-input-1-2153839cb963>, line 1)

In [4]:
new_line="His name was 'mody' as everyone told "

### Escape sequences

In [6]:
 

new_line="His name is \nmody"

print(new_line)

His name is
mody

In [7]:
# add quotes in string

new_line=" His name is \"Mody\""
print(new_line)

 His name is "Mody"

### String Concatenation

In [18]:
#cant concatenate different data types
'a'+'z'+2

TypeError: must be str, not int

In [19]:
'a'+'z'+'2'

'az2'

In [10]:
part_1="Narendra"
part_2="modi"
name=part_1+part_2
print(name)

Narendramodi

In [13]:
# add space in between
name=part_1+" "+part_2
print(name)

Narendra modi

In [17]:
#concatenate string with variable
name="modi"

print("Welcome to India , Mr." + name)

Welcome to India , Mr.modi

In [21]:
name='modi'
name +=' prime minister of india'
print(name)

modi prime minister of india

In [22]:
score=100
score +=10

In [23]:
print(score)

110

In [24]:
score -=9
print(score)

101

In [26]:
score *=10
print(score)

10100

### Formatting strings

In [33]:
age=30

new_line=f'I guess you are {age} years old '

print(new_line)

I guess you are 30 years old

In [37]:
print("Hi, I guess you are {0} years old".format(age))

Hi, I guess you are 30 years old

In [38]:
#using format 
print("Hello {0}, your balance is {1:9.3f}".format('Adam',500.424242))

Hello Adam, your balance is   500.424

In [39]:
#add calculation as well while formating

print(f"Hi, I guess you will be  {age +10} years old after 10 years from now ".format(age))

Hi, I guess you will be  40 years old after 10 years from now

In [ ]:
#excercise 
#print your  first and last name using f

### Indexing

In [40]:
name="narendra"

In [41]:
name[0]

'n'

In [42]:
name[1]

'a'

In [43]:
name[-1]

'a'

In [44]:
name[:2]

'na'

In [45]:
name[2:5]

'ren'

In [48]:
name[-5:-1]

'endr'

In [49]:
name[10]

IndexError: string index out of range

### Converting Data types

In [50]:
num=12
type(num)

int

In [51]:
num=str(num)

In [52]:
type(num)

str

In [53]:
num=float(num)

In [54]:
type(num)

float

In [55]:
num=99.999993432423
type(num)

float

In [56]:
num=int(num)

In [57]:
num

99