### Steps

1. Ask the user how many KMs ?
2. Convert the datatype of KMs from string to int or float 
3. Do the calculation to convert KMs to mileage 
4. Print or output the final result in miles 
5. Consildate everything into one group

### Functions to be used

1. input : To take user input 
2. int or float to convert input value datatype 
3. format(f) to print the results

### Step 1

In [1]:
#ask the user of total number of Kms to be converted using input function 

user_input=input("How many KMs do you want to convert ?? ")

How many KMs do you want to convert ?? 10

In [2]:
#validating the value of user input 
print(user_input)

10

In [3]:
#datatype of user input 
type(user_input)

str

### Step 2

In [4]:
#convert the user input to float type
user_input=float(user_input)

In [5]:
#updated datatype of user input 

type(user_input)

float

### Step 3

In [9]:
# Do the conversion of Kms to miles 
miles=user_input/1.60934

In [10]:
print(miles)

6.213727366498068

### Bonus

We can use round function to truncate the output to 2 decimal points

In [11]:
#round off the output to 2 deimal point 
miles=round(miles,2)
print(miles)

6.21

### Step 4

In [13]:
#print the final result to the user
print(f" The total number of miles for your input is : {miles} mls")

 The total number of miles for your input is : 6.21 mls

### Step 5

In [15]:
#group all lines of code togther 
#ask the user of total number of Kms to be converted using input function 
user_input=input("How many KMs do you want to convert ?? ")
#convert the user input to float type
user_input=float(user_input)
# Do the conversion of Kms to miles 
miles=user_input/1.60934
#round off the output to 2 deimal point 
miles=round(miles,2)
#print the final result to the user
print(f"The total number of miles for your input is : {miles} mls")

How many KMs do you want to convert ?? 50
The total number of miles for your input is : 31.07 mls

### Superb Job